body {
	padding: 1%;
	text-align: center;
}

p, h1, h2 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
	font-size: 1.4em;
}

h1 {
	font-size: 2em;
}

h1 {
	font-size: 3em;
}

input {
	padding: 5px;
}

button {
	padding: 5px;
}

.bad p {
	color: red;
	font-size: 0.8em;
	margin: 0.4em;	
}

.result p {
	font-size: 1.0em;
	font-weight: bold;
}

.win {
	color: #ff8300;	
}

.lin {
	color: #ff0055;	
}

.osx {
	color: #aa00ee;	
}

.note {
	font-size: 0.9em;
	margin: 10px 0px 5px 0px;
}

.wrapper {
	float: left;
	margin: 5%;
	width: 80%;
	padding: 5%;
	background-color: #eeeeee;
	text-align: left;
}

div.result {
	padding: 0.1em 1.0em;
	display: none;
}

div.active {
	background-color: #ffffff;
	border-bottom: 0.2em solid #888888;
	display: block !important;
}

div.bad {
	float: left;
	position: relative;
	width: 96%;
	padding: 2%;
	z-index: 100;
	margin: 2% 0px;
	display: none;
}

div.bad.overlay {
	background-color: rgba(0,0,0,0.1);
}

#windowsServer {
	margin: 0px 0px 5px 0px;
	width:20%;
}