html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
	padding: 1%;
	text-align: center;
}

p, h1, h2, input, button {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
	font-size: 1.4em;
}

h1 {
	font-weight: normal;
	font-size: 3.0em;
	margin: 0 0 0.65em 0;
}

h2 {
	font-size: 1.2em;
	font-weight: normal;
}

input {
	margin: 0 0 15px 0;
	border: none;
}

button {
	border: none;
	border-bottom: 0.2em solid #666666;
	background: #dddddd;
}

input, button {
	padding: 1.0em;
	width: 100%;
}

input#allIn, button {
	width: 100%;
}

.bad p {
	color: #ffffff;
	font-size: 0.9em;
	margin: 0.4em;	
}

.result input, input, button {
	font-size: 1.0em;
	font-weight: bold;
}

.win {
	color: #ff8300;	
}

.lin {
	color: #ff0055;	
}

.osx {
	color: #aa00ee;	
}

p .win, p .lin, p .osx {
	color: #ffffff;
	padding: 0.4em 0.5em;
}

p .win {
	background-color: #ff8300;
}

p .lin {
	background-color: #ff0055;
}

p .osx {
	background-color: #aa00ee;
}

.note {
	font-size: 0.9em;
	margin: 10px 0px 5px 0px;
}

.wrapper {
	width: 100%;
	padding: 5%;
	border: 10px solid #ffffff;
	background-color: #efefef;
	text-align: left;
}

input {
	border: 0;
	display: block !important;
}

input.result {
	background-color: #dddddd;
	border-bottom: 0.2em solid #888888;
}

input#allIn {
	background-color: #ffffff;
}

input.result {
	padding: 1.0em;
	display: none;
	width: 100%;
}

input.selected {
	background-color: #0576fc;
}

div.bad {
	background-color: red;
	position: relative;
	width: 100%;
	padding: 1%;
	z-index: 100;
	margin: 2% 0px;
	display: block;
}

div.hidden {
	display: none;
}